.admin-dashboard {
  display: flex; 
  height: 100vh; 
}

.left-navbar {
  width: 250px; 
  background-color: #4c2c50; 
  color: #ecf0f1; 
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px; 
  position: fixed;
  top: 0;
  left: 0;
  height: 100%; 
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); 
}

.right-section {
  margin-left: 250px;
  flex: 1;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #333;
}

.left-navbar h1 {
  margin-bottom: 20px;
  font-size: 22px;
  border-bottom: 1px solid #b676f3;
  padding-bottom: 10px;
  color: #ecf0f1;
  cursor: pointer;
}

.left-navbar button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4d345e; 
  border: none;
  color: #ecf0f1;
  border-radius: 4px;
  transition: background-color 0.3s, transform 0.2s; 
  display: flex;
  align-items: center;
  gap: 10px;
}

.left-navbar button:hover {
  transform: scale(1.05); 
}

.left-navbar button.active {
  font-weight: bolder; 
  transform: scale(1.05); 
}

.left-navbar button.active i {
  color: #000000; 

  }

.left-navbar i {
  font-size: 18px;
  color: #ffffff; 
}

.home-container {
  padding: 20px;
}
.left-navbar button:focus {
  outline: 2px solid #b676f3; 
  outline-offset: 2px;
}

.left-navbar button.active i {
  color: #000000; 
}

@media (max-width: 480px) { 
  .left-navbar {
    width: 100%;
    height: auto;
    box-shadow: none;
  }

  .right-section {
    margin-left: 0;
    padding: 10px; 
  }
}

@media (max-width: 768px) {
  .admin-dashboard {
    flex-direction: column;
  }

  .left-navbar {
    width: 100%;
    height: auto;
    position: static;
    box-shadow: none;
  }

  .right-section {
    margin-left: 0;
  }
}


