body {
  font-family: 'Arial', sans-serif;
  background-color: #f7f4fa;
}

.icon {
  font-size: 24px;
  color: #874ec8;
  cursor: pointer;
  transition: color 0.3s;
  margin: 0 10px;
}

.icon:hover {
  color: #9b4ec8;
}

.card {
  background-color: #f8f0ff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.37);
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.02);
}

h5 {
  font-family: 'Arial', sans-serif;
  font-size: 1.5rem;
  color: #5a4fcf;
  margin-bottom: 15px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: 2px solid #9b4ec8;
  padding-bottom: 10px;
  transition: color 0.3s, transform 0.3s;
}

h5:hover {
  color: #7a3d99;
  transform: translateY(-2px);
}

.total-users,
.total-messages {
  height: 240px;
  width: 100%;
  padding: 20px;
  margin-top: 20px;
  background-color: #f8f0ff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: background-color 0.3s, transform 0.2s;
}

.total-users:hover,
.total-messages:hover {
  background-color: #e6e9ff;
  transform: translateY(-5px);
}

.message-count {
  font-size: 5rem;
  color: #9b4ec8;
  font-weight: 800;
  margin-top: 10px;
  transition: color 0.3s;
}

.message-count:hover {
  color: #7a3d99;
}

.done-chart {
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.packages-list {
  max-height: 500px; /* Maximum height of the packages list */
  padding: 20px;
  height: 500px;
  background-color: #f8f0ff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto; /* Enable vertical scrolling */
}

.package-card {
  transition: transform 0.2s;
}

.package-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.package-name {
  font-size: 1.25rem;
  color: #5a4fcf;
  margin-bottom: 10px;
}

.package-description {
  color: #666;
  margin-bottom: 15px;
}

.btn {
  width: 100%;
}

.payment-section,
.recent-messages {
  padding: 15px;
}

/* Increased heights */
.payment-section {
  height: 300px; /* Increased height for Payment section */
}

.recent-messages {
  height: 300px; /* Increased height for Recent Messages */
  max-height: 300px;
  overflow-y: auto;
}

.row {
  margin-bottom: 20px;
}

.message-list,
.notification-list {
  list-style: none;
  padding: 0;
}

.message-item,
.notification-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  transition: background-color 0.2s;
}

.message-item:hover,
.notification-item:hover {
  background-color: #f1f1f1;
}

.message-avatar,
.notification-icon {
  margin-right: 10px;
}

.avatar-icon {
  font-size: 32px;
  color: #9b4ec8;
}

.message-content {
  flex-grow: 1;
}

.message-timestamp,
.notification-timestamp {
  font-size: 0.8rem;
  color: #999;
  margin-left: auto;
}

.modal-content {
  border-radius: 10px;
}
