/* Container for the Register page */
.Register-container {
    display: flex;
    justify-content: flex-end;
    /* Align to the right */
    align-items: center;
    height: 87vh;
    /* Full screen height */
    background-color: #22202021;
    /* Light background for contrast */
    padding-right: 10%;
    /* Add some padding on the right */
}

h2 {
    font-size: 50px;
    margin-top: 5px;
}

/* Register box */
.Register-box {
    background: #fff;
    width: 100%;
    /* Full width of the container */
    max-width: 500px;
    /* Limit the maximum width */
    padding: 40px;
    height: 80vh;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.863);
    border-radius: 15px;
    position: relative;
    /* For positioning inside the container */
    margin-left: auto;
    /* Align to the right of the container */
}

/* Form heading */
.Register-box h2 {
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}

/* Form group */
.form-group {
    margin-bottom: 20px;
}

/* Form labels */
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}

/* Input fields */
.form-control {
    width: 100%;
    border: none;
    font-size: 16px;
}

/* Forgot password link */
.forgot-password {
    display: block;
    margin-bottom: 20px;
    text-align: right;
    color: #973aa8;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}

/* Register button */
.btn-primary {
    width: 100%;
    background: linear-gradient(to right, #822faf, #973aa8, #c05299);
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
}

.btn-primary:hover {
    background: linear-gradient(to right, #973aa8, #c05299, #822faf);
}

/* Register prompt */
.register-prompt {
    text-align: center;
    margin-top: 20px;
}

.register-link {
    color: #973aa8;
    text-decoration: none;
    font-weight: bold;
}

.register-link:hover {
    text-decoration: underline;
}

/* Divider */
.register-divider {
    text-align: center;
    margin: 20px 0;
    position: relative;
}

.register-divider span {
    background: #fff;
    padding: 0 10px;
    color: #666;
}

.register-divider:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #ccc;
    z-index: -1;
}

/* Google button */
.google-button {
    font-family: monospace;
    font-size: 1rem;
    color: #000000;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #FAFAFA;
    background: #ffffff;
    box-shadow: 3px 3px #973aa8;
    cursor: pointer;
    margin: 25px 0;
    width: 100%;
    max-width: 400px;
}

.google-button:active {
    box-shadow: none;
    transform: translate(3px, 3px);
}

.google-button:hover {
    background-color: #88858556;
}

.google-icon {
    margin-right: 10px;
    font-size: 1.2rem;
}

.GoogleImageIcon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.password-container {
    position: relative;
  }
  
  .toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
    font-size: 0.9em;
  }
  
  .toggle-password:hover {
    text-decoration: underline;
  }
  
  
.eva {
    --EVA-ROTATION-DURATION: 4s;
    transform-style: preserve-3d;
    animation: rotateRight var(--EVA-ROTATION-DURATION) linear infinite alternate;
    padding-left: 450px;
  }
  .head {
    position: relative;
    width: 6rem;
    height: 4rem;
    border-radius: 48% 53% 45% 55% / 79% 79% 20% 22%;
    background: linear-gradient(to right, white 45%, gray);
  }
  .eyeChamber {
    width: 4.5rem;
    height: 2.75rem;
    position: relative;
    left: 50%;
    top: 55%;
    border-radius: 45% 53% 45% 48% / 62% 59% 35% 34%;
    background-color: #3c0c3a;
    box-shadow: 0px 0px 2px 2px white, inset 0px 0px 0px 2px black;
    transform: translate(-50%, -50%);
    animation: moveRight var(--EVA-ROTATION-DURATION) linear infinite alternate;
  }
  .eye {
    width: 1.2rem;
    height: 1.5rem;
    position: absolute;
    border-radius: 50%;
  }
  .eye:first-child {
    left: 12px;
    top: 50%;
    background: repeating-linear-gradient(
      65deg,
      #c09beb 0px,
      #d49beb 1px,
      white 2px
    );
    box-shadow: inset 0px 0px 5px #04b8d5, 0px 0px 15px 1px #0bdaeb;
    transform: translate(0, -50%) rotate(-65deg);
  }
  .eye:nth-child(2) {
    right: 12px;
    top: 50%;
    background: repeating-linear-gradient(
      -65deg,
      #c09beb 0px,
      #d49beb 1px,
      white 2px
    );
    box-shadow: inset 0px 0px 5px #04b8d5, 0px 0px 15px 1px #0bdaeb;
    transform: translate(0, -50%) rotate(65deg);
  }
  .body {
    width: 6rem;
    height: 8rem;
    position: relative;
    margin-block-start: 0.25rem;
    border-radius: 47% 53% 45% 55% / 12% 9% 90% 88%;
    background: linear-gradient(to right, white 35%, gray);
  }
  .hand {
    position: absolute;
    left: -1.5rem;
    top: 0.75rem;
    width: 2rem;
    height: 5.5rem;
    border-radius: 40%;
    background: linear-gradient(to left, white 15%, gray);
    box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.25);
    transform: rotateY(55deg) rotateZ(10deg);
  }
  .hand:first-child {
    animation: compensateRotation var(--EVA-ROTATION-DURATION) linear infinite
      alternate;
  }
  .hand:nth-child(2) {
    left: 92%;
    background: linear-gradient(to right, white 15%, gray);
    transform: rotateY(55deg) rotateZ(-10deg);
    animation: compensateRotationRight var(--EVA-ROTATION-DURATION) linear
      infinite alternate;
  }
  .scannerThing {
    width: 0;
    height: 0;
    position: absolute;
    left: 60%;
    top: 10%;
    border-top: 180px solid #960df1d5;
    border-left: 250px solid transparent;
    border-right: 250px solid transparent;
    transform-origin: top left;
    mask: linear-gradient(to right, white, transparent 35%);
    animation: glow 2s cubic-bezier(0.86, 0, 0.07, 1) infinite;
  }
  .scannerOrigin {
    position: absolute;
    width: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    left: 60%;
    top: 10%;
    background: #c79beb;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5);
    animation: moveRight var(--EVA-ROTATION-DURATION) linear infinite;
  }
  @keyframes rotateRight {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(25deg);
    }
  }
  @keyframes moveRight {
    from {
      transform: translate(-50%, -50%);
    }
    to {
      transform: translate(-40%, -50%);
    }
  }
  @keyframes compensateRotation {
    from {
      transform: rotateY(55deg) rotateZ(10deg);
    }
    to {
      transform: rotatey(30deg) rotateZ(10deg);
    }
  }
  @keyframes compensateRotationRight {
    from {
      transform: rotateY(55deg) rotateZ(-10deg);
    }
    to {
      transform: rotateY(70deg) rotateZ(-10deg);
    }
  }
  @keyframes glow {
    from {
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    45% {
      transform: rotate(-25deg);
    }
    75% {
      transform: rotate(5deg);
    }
    100% {
      opacity: 0;
    }
  }
   