/* Feature Icon */
.feature-icon {
    font-size: 24px;
    color: #6c757d;
}

/* Centered Image */
.centered-image {
    width: 100%;
    height: auto;
    max-height: 50vh;
    object-fit: contain;
}

/* Feature Container */
.feature-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

/* Demo Section */
.demo {
    height: auto;
    background: linear-gradient(135deg, #9b4ec8, #e98ffb);
    border: none;
    border-radius: 15px;
    overflow: hidden;
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Button Styles */
.custom-btn {
    background-color: #ff00ff62;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

.custom-btn:hover {
    background-color: rgba(213, 181, 243, 0.89);
    color: #ff00ff;
}

/* Row Margin */
.row {
    margin-bottom: 50px;
}

/* Packages Section Styles */
.package-card01 {
    background-color: rgb(107, 72, 114);
    color: aliceblue;
    border-radius: 12px;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: background-color 0.3s, color 0.3s;
}

.package-card01:hover {
    background-color: rgb(107, 72, 114);
    color: #ff00ff;
}

.card-body1 {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.card-text {
    font-size: 1rem;
    margin-bottom: 20px;
}

/* Package Button Styles */
.package-btn {
    background-color: #a200ff;
    border: none;
    color: white;
    padding: 10px 40px; 
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    align-self: center; 
    margin-top: auto; 
}

.package-btn:hover {
    background-color: rgb(177, 96, 253);
    color: #f7f3f7;
    font-weight: bolder;
    font-size: 16px;
}
